body{
    text-align: center; 
    
   background: -moz-linear-gradient(#5FC2E3, #DFF02B, #DB325A);
   background: -o-linear-gradient(#5FC2E3, #DFF02B, #DB325A);
   background: -webkit-linear-gradient(#5FC2E3, #DFF02B, #DB325A);
   background-size: 100% 100%;
}

.gif{
    width: 83%;
    height: 107px;
    max-height: 107px;
    margin: 7% auto 0 auto;
    border-radius: 5px;
}

.gifDiv{
    margin-bottom: 30px;
    background: url("../images/brickwall.jpg") no-repeat;
    background-size: contain;
    color: white;
}

h1, h3{
    margin: 0 auto;
}

.rating{
  font-size: .8rem;
}









@media screen and (max-width: 1200px) {
    .gif {
      height: 87px;
      max-height: 87px;
    }
  }

  @media screen and (max-width: 991px) {
    .gif {
      height: 80px;
      max-height: 80px;
    }
  }

  @media screen and (max-width: 767px) {
    .gifDiv{
        margin: 0 auto;
        background-size: 100% 100%;
    }

    .gif {
        width: 82%;
      height: 215px;
      max-height: 215px;
    }
  }
