body{
    text-align: center;    
}

.gif{
    width: 82%;
    height: 130px;
    max-height: 130px;
    margin: 7% auto 0 auto;
}

.gifDiv{
    margin-bottom: 30px;
    background: url("../images/brickwall.jpg") no-repeat;
    background-size: contain;
    color: white;
}

h1{
    margin: 0 auto;
}








@media screen and (max-width: 1200px) {
    .gif {
      height: 110px;
      max-height: 110px;
    }
  }

  @media screen and (max-width: 991px) {
    .gif {
      height: 80px;
      max-height: 80px;
    }
  }

  @media screen and (max-width: 767px) {
    .gifDiv{
        margin: 0 auto;
        background-size: 100% 100%;
    }

    .gif {
        width: 82%;
      height: 215px;
      max-height: 215px;
    }
  }
